/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		zephyr,console = &io_uart;
		zephyr,shell-uart = &io_uart;
		zephyr,sram = &compute_ram;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		compute_cpu: cpu@0 {
			device_type = "cpu";
			compatible = "riscv";
			reg = <0>;
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "c", "zicsr", "zifencei";

			compute_cpu_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#address-cells = <0>;
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};
	};

	compute_ram: memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x4000000>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		compute_plic: interrupt-controller@c000000 {
			compatible = "sifive,plic-1.0.0";
			reg = <0x0 0xc000000 0x0 0x4000000>;
			#address-cells = <0>;
			#interrupt-cells = <2>;
			interrupt-controller;
			riscv,max-priority = <7>;
			riscv,ndev = <32>;
			interrupts-extended = <&compute_cpu_intc 11>;
		};

		io_uart: uart@10000000 {
			compatible = "ns16550";
			reg = <0x0 0x10000000 0x0 0x8>;
			reg-shift = <0>;
			clock-frequency = <3686400>;
		};

		io_timer: timer@1001bff8 {
			compatible = "riscv,machine-timer";
			reg = <0x0 0x1001bff8 0x0 0x8>, <0x0 0x10014000 0x0 0x8>;
			reg-names = "mtime", "mtimecmp";
			interrupts-extended = <&compute_cpu_intc 7>;
		};
	};
};
